@import "vars";

.about {
    text-align: center;

    &__content {
        margin-bottom: $title-margin;

        @media (max-width: 768px) {
            margin-bottom: $title-margin/2;
        }
    }

    &__logo {
        margin-bottom: $title-margin;
        margin-top: -$title-margin;

        @media (max-width: 768px) {
            margin-bottom: $title-margin/2;
            margin-top: -$title-margin/2;
        }
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        max-width: 920px;
        margin: 0 auto;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 16px;
        }

        p:not(:last-child) {
            margin-bottom: $text-margin;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        width: max-content;

        padding: 0 $text-margin $text-margin;

        @media (max-width: 600px) {
            width: calc(50% - 10px);
            justify-content: center;
            padding: 0;
            margin-bottom: $text-margin;

            &:nth-last-child(1), &:nth-last-child(2){
                margin-bottom: 0;
            }


            &:nth-child(odd){
                margin-right: $text-margin;
            }
        }

        img {
            display: flex;
        }
    }

}