@import "vars";

.card {
    text-align: center;

    &__image {
        margin-bottom: $text-margin;

        @media (max-width: 768px) {
            margin-bottom: $text-margin/2;
        }
    }

    &__title {
        margin-bottom: $text-margin;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;

        @media (max-width: 768px) {
            margin-bottom: $text-margin/2;
            font-size: 20px;
            line-height: 24px;
        }
    }
}