@import "vars", "mixins";

.card {
    text-align: center;

    &__image {
        margin-bottom: $text-margin;

        @media (max-width: 768px) {
            margin-bottom: $text-margin/2;
        }
    }

    &__title {
        line-height: 120%;
        font-weight: 700;

        @include adaptive-property("font-size", 24, 18, 0);

    }
}