@import "vars";

.cards-list {
    list-style: none;
    margin-bottom: $title-margin;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    
    @media (max-width: 900px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media (max-width: 375px) {
        flex-direction: column;
    }

    &__item {
        
        @media (max-width: 900px) {
            width: 33%;
            margin-bottom: $text-margin;
        }

        @media (max-width: 500px) {
            width: 50%;
        }

        @media (max-width: 375px) {
            width: 100%;
        }
    }
}