@import "vars", "mixins";

.hero {
    &__title {
        font-weight: 600;
        line-height: 122.5%;
        color: $accent;
        max-width: 600px;
        background-image: url(../assets/images/hero/title-icon.png);
        background-repeat: no-repeat;
        background-position: right center;
        margin-bottom: 10px;

        @include adaptive-property("background-size", 70, 33, 0);
        @include adaptive-property("padding-right", 90, 35, 0);
        @include adaptive-property("min-height", 85, 40, 0);
        @include adaptive-property("font-size", 40, 20, 0);
    }

    &__subtitle {
        font-weight: bold;
        line-height: 123.3%;
        color: $accent;
        max-width: 600px;

        @include adaptive-property("font-size", 30, 14, 0);
        @include adaptive-property("margin-bottom", 20, 10, 0);
    }

    &__image {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            display: flex;
        }
    }

    &__text {
        color: $accent;
        margin-bottom: $text-margin;
        max-width: 600px;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__registration {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 15px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 65px;
            height: 5px;
            top: 0;
            left: 0;
            background-color: $btn-color;

        }
    }

    &__date {
        display: flex;
        
        p {
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: $text-margin;

            &:not(:last-child) {
                margin-right: 21px;

                &::after {
                    position: absolute;
                    right: -10px;
                    content: "";
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: $btn-color;
                }
            }

            span {
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                text-transform: uppercase;
                color: $accent;

                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 22px;
                }

                &:nth-child(2) {
                    font-size: 36px;
                    line-height: 44px;

                    @media (max-width: 768px) {
                        font-size: 30px;
                        line-height: 37px;
                    }
                }
            }
        }
    }

    &__description {
        margin-top: $text-margin;
        font-weight: 300;
        font-style: italic;
        color: $accent;

        @media (max-width: 768px) {
            font-size: 14px;
            line-height: 17px;
        }
    }
}