@import "vars";

.collapsible {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $text-color;
  border-bottom: 1px solid $text-color;
  margin-bottom: -1px;
  transition: 0.5s;
  max-width: calc(100% - 30px);
  width: 100%;
  position: relative;
}

.collapsible__btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;

  span {
    pointer-events: none;
    display: inline-block;
    margin-right: auto;
    max-width: 950px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
  line-height: 22px;
  transition: 0.5s;
  margin-left: 65px;
  margin-right: 49px;
  max-width: 950px;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 17px;
    margin-left: 45px;
    margin-right: 25px;
  }
}

.collapsible__icon {
  flex: 0 0 24px;
  height: 24px;
  background-color: #E2E9FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  transition: 0.5s;
  margin-right: 40px;

  @media (max-width: 768px) {
    margin-right: 20px;
  }
}

.collapsible__close {
  position: relative;
  flex: 0 0 24px;
  height: 24px;
  transition: 0.5s;
  pointer-events: none;
  margin-left: 25px;

  @media (max-width: 768px) {
    margin-left: 10px;
    flex: 0 0 18px;
    height: 18px;
  }
}

.collapsible__close:before,
.collapsible__close:after {
  position: absolute;
  left: 11px;
  content: "";
  height: 24px;
  width: 2px;
  background-color: $text-color;
  transition: 0.5s;

  @media (max-width: 768px) {
    left: 8px;
    height: 18px;
  }
}

.collapsible__close:before {
  transform: rotate(90deg);
}

.collapsible__close:after {
  transform: rotate(0);
}

.collapsible:hover .collapsible__close:before,
.collapsible:hover .collapsible__close:after{
  background-color: $accent;
}

.active .collapsible__close:before {
  transform: rotate(45deg);
  background-color: $accent;
}

.active .collapsible__close:after {
  transform: rotate(-45deg);
  background-color: $accent;
}

.collapsible:hover, .active.collapsible {
  background-color: #E2E9FF;
  border-top: 1px solid $accent;
  border-bottom: 1px solid $accent;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
  z-index: 1;
}

.collapsible:hover .collapsible__btn{
  color: $accent;
}

.active .collapsible__btn {
  color: $accent;
  padding-bottom: 20px;
}

.active .collapsible__content {
  color: $accent;
  margin-bottom: 30px;
}

.collapsible:hover .collapsible__icon, .active .collapsible__icon {
  background-color: $btn-color;
}