@import "vars", "mixins";

.title {
    font-weight: 700;
    line-height: 122.2%;
    text-align: center;
    color: $accent;
    margin-bottom: $title-margin;

    @include adaptive-property("font-size", 36, 24, 0);


    @media (max-width: 768px) {
        margin-bottom: $title-margin/2;
    }
}